################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CanvasEditor/bin/Debug/net8.0-windows
/CanvasEditor/obj
